<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout-aluno/header-aluno">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="identificação" />
<meta name="author" content="" />
<link rel="icon" href="../imagens/favicon/favicon.ico" />
<title>postAcad</title>

<link href="../css-bootstrap/bootstrap.css" rel="stylesheet" />
<link href="../css/global.css" rel="stylesheet" />
<link href="../css/css_trabalhos-aluno.css" rel="stylesheet"/>
<link href="../css/css_barra-navegacao-aluno.css" rel="stylesheet" />
<link href="../css-bootstrap/ie10-viewport-bug-workaround.css"
	rel="stylesheet" />
<link href="../css-bootstrap/signin.css" rel="stylesheet" />
<script src="../js-bootstrap/bootstrap.js"></script>
<script src="../js-bootstrap/ie-emulation-modes-warning.js"></script>
<script src="../js/global.js" type="text/javascript"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.imagem{
	margin-left:43%;
}
</style>

</head>

<body>


	<section layout:fragment="conteudo">


		<div id="" class="divListaTrabalhos col-sm-push-1 col-md-10">
			<h1>Meus trabalhos</h1>

			<div class="menuListaTrabalhos">
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-info btn-lg"

					data-toggle="modal" data-target="#myModal">Inserir Trabalho</button>


				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Novo trabalho</h4>
							</div>
							<div class="modal-body">
							<img class="imagem" alt="Brand" src="../imagens/icone-brand.png"/>
							
								<form class="formCadastro form-signin" method="get"
									th:action="@{/../trabalho/novoTrabalho}">
									

									<input name="titulo" type="text" id="inputTitulo"
										placeholder="titulo" class="form-control itensForm" /> 
										<input
										name="resumo" type="text" id="inputResumo"
										placeholder="resumo" class="form-control itensForm" /> 
										
									<input
										name="palavraChave" type="text" id="inputPalavra"
										placeholder="palavras-chave" class="form-control itensForm" /> 

									<button class="btn btn-lg btn-primary btn-block" type="submit">Criar
										trabalho</button>

								</form>


							</div>
							
						</div>

					</div>
				</div>
				<div class="buscarTrabalho">

					<form th:action="@{/../trabalho/filtrar}" method="get">

						<input name="filtro" type="text" placeholder="filtrar por titulo" />
						<button class="btn btn-primary " type="submit">filtrar</button>
					</form>
				</div>

			</div>




			<br />
			<table class="meusTrabalhos">
				<tr th:if="${trabalho != null}" th:each="trabalho,iter: ${trabalhos}">
					<td>
						<h2 th:text="${trabalho.titulo}"></h2>
						<p th:text="${trabalho.resumo}"></p> 
							
							<a th:href="@{/../trabalho/gerenciar(idTrabalho=${trabalho.idTrabalho})}" type="button"
						class="gerenciar btn btn-primary navbar-btn">Gerenciar</a> <br/>

					</td>
				</tr>
			</table>
		</div>


	</section>


</body>
</html>